{% extends 'include/base.html' %} {% load static %} {% block body %}

<!-- ============================ Page Title Start================================== -->
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <h2 class="ipt-title">About Us</h2>
                <span class="ipn-subtitle">Who we are & our mission</span>

            </div>
        </div>
    </div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Our Story Start ================================== -->
<section>

    <div class="container">

        <!-- row Start -->
        <div class="row align-items-center">

            <div class="col-lg-6 col-md-6">
                <div class="story-wrap explore-content">

                    <h2>About Us</h2>
                    <p>
                        DG REALSTATE  is an online real estate marketplace that 
                        connects people who desire to rent/buy properties with real estate agents,
                        developers and homeowners for listed inventory in locations of choice. 
                        We are creating a robust ecosystem that enables Agents, Developers, Users,
                        Regulators and the general public to engage effectively.
                    </p>
                    <p>
                        Our purpose is to make buying and renting of properties a happier, easier 
                        and faster experience. We do this by listening to the needs of all players 
                        in the ecosystem and leveraging technology to provide solutions that meet these needs.
                    </p>
                    <p>
                        We are a team of progressive young professional based in Benin City,
                        Nigeria. Our platform is accessible via website.
                    </p>
                    <!-- <p>
                        DG REALSTATE is a customer-centric real estate and property platform in Nigeria with 
                        legit and verified property for sale and rent. DG REALSTATE provides property seekers 
                        with online property search experience and dedicated 
                        customer service to help with search, verification and acquisition of 
                        their dream property.
                    </p> -->
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <img src="/static/assets/img/about.jpg" class="img-fluid" alt="" />
            </div>

        </div>
        <!-- /row -->

    </div>

</section>
<!-- ============================ Our Story End ================================== -->


<!-- ================= Our Mission ================= -->
<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="sec-heading center">
                    <h2>Our Mission & Vision</h2>
                    <!-- <p>Professional & Dedicated Team</p> -->
                </div>
            </div>
        </div>

        <div class="row align-items-center">

            <div class="col-lg-6 col-md-6">
                <div class="icon-mi-left">
                    <i class="ti-lock theme-cl"></i>
                    <div class="icon-mi-left-content">
                        <h4>Our vision</h4>
                        <p>
                            To be the number one go to e-commerce 
                            real estate platform for property searchers 
                            and investors around the world
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-6 col-md-6">
                <div class="icon-mi-left">
                    <i class="ti-layers theme-cl"></i>
                    <div class="icon-mi-left-content">
                        <h4>Our mission</h4>
                        <p>
                            To build trust and convenience in 
                            all types of real estate investments 
                            for all clients.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- ================= Our Mission ================= -->


{% endblock %}