{% extends 'include/base.html' %} {% load static %} {% block body %}
			
			<!-- ============================ Page Title Start================================== -->
			<div class="page-title">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							
							<h2 class="ipt-title">Our Articles</h2>
							<span class="ipn-subtitle">See Our Latest Articles & News</span>
							
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ Agency List Start ================================== -->
			<section class="gray-simple">
			
				<div class="container">
				
					<div class="row">
						<div class="col text-center">
							<div class="sec-heading center">
								<h2>Latest News</h2>
								<p>We post regulary most powerful articles for help and support.</p>
							</div>
						</div>
					</div>
				
					<!-- row Start -->
					<div class="row">
					    {% for i in post %}
						<!-- Single blog Grid -->
						<div class="col-lg-4 col-md-6">
							<div class="blog-wrap-grid">
								
								<div class="blog-thumb">
									<a href="">
										<img src="{{  i.image.url }}" class="img-fluid" alt="" />
									</a>
								</div>
								
								<div class="blog-info">
									<span class="post-date"><i class="ti-calendar"></i>{{ i.created }}</span>
								</div>
								
								<div class="blog-body">
									<h4 class="bl-title"><a href="">
									  {{  i.title }}	
									</a>
									</h4>
									<p>{{ i.body|safe }}</p>
									<a href="" class="bl-continue">Continue</a>
								</div>
								
							</div>
						</div>
						{%  endfor %}
					</div>
					<!-- /row -->

					<!-- Pagination -->
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 ">
							
							<ul class="pagination p-center justify-content-center">
								<li class="page-item">
									{% if  post.has_previous %}
									<a class="page-link" href="?page={{  post.previous_page_number }}" aria-label="Previous">
										<span class="ti-arrow-left"></span>
									</a>
								    {% else %}
									<span class="sr-only">Prev</span>
									{% endif %}
								</li>
								{% for i in  post.paginator.page_range %}
									{% if  post.number == i %}
										<li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
									{% else %}
										<li class="page-item "><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
									{% endif %}
								{% endfor %}
								<li class="page-item">
									{% if  post.has_next %}
								  <a class="page-link" href="?page={{  post.next_page_number }}" aria-label="Next">
									<span class="ti-arrow-right"></span>
								  </a>
								  {% else %}
								  <span class="sr-only">Next</span>
								</li>
								{% endif %}
							</ul>
						</div>
					</div>					
					
				</div>
						
			</section>
			<!-- ============================ Agency List End ================================== -->

 {% endblock body %}