{%  extends 'include/base.html' %}
{% load crispy_forms_tags %}
{%  load static %}			
{%  block body %}
			
			<!-- ============================ Page Title Start================================== -->
			<div class="page-title">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							
							<h2 class="ipt-title">Submit Property</h2>
							<span class="ipn-subtitle">Just Submit Your Property</span>
							
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Page Title End instance=request.user, files=request.FILES ================================== -->
			
			<!-- ============================ Submit Property Start ================================== -->
			<section class="gray-simple">
			
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
						
							<div class="alert alert-success" role="alert">
							<p>Please, Sign In before you submit a property. If you don't have an account you can create one by 
								<a href="{% url  'index:login' %}">Clicking Here</a></p>
							</div>
						
						</div>
						
						<!-- Submit Form -->
						<div class="col-lg-12 col-md-12">
						
							<div class="submit-page">
								
								<!-- Basic Information -->
								<div class="form-submit">	
									<h3>Basic Information</h3>
									{%  for message in messages %}
										<div  class="alert alert-warning alert-dismissible fade show" role="alert">
										{{ message }}
										</div>
							        {% endfor %} 
									<div class="submit-section">
										<form  method="POST"  enctype="multipart/form-data">
											{% csrf_token %}
											<div class="row">
												<div class="form-group col-md-12">
													{{  form.user|as_crispy_field  }}
												</div>
												<div class="form-group col-md-12">
													{{  form.title|as_crispy_field  }}
												</div>
												<div class="form-group col-md-6">
													{{  form.status|as_crispy_field  }}
												</div>
												<div class="form-group col-md-6">
													{{  form.property_type|as_crispy_field  }}
												</div>
												<div class="form-group col-md-6">
													{{  form.price|as_crispy_field  }}
												</div>
												<div class="form-group col-md-6">
													{{  form.area|as_crispy_field  }}
												</div>
												<div class="form-group col-md-6">
													{{  form.bedrooms|as_crispy_field  }}
												</div>
												<div class="form-group col-md-6">
													{{  form.bathrooms|as_crispy_field  }}
												</div>
												<div class="form-group col-md-12">
													{{  form.image|as_crispy_field  }}
												</div>
												<div class="form-group col-md-12">
													{{  form.photo_1|as_crispy_field  }}
												</div>
												<div class="form-group col-md-12">
													{{  form.photo_2|as_crispy_field  }}
												</div>
												<div class="form-group col-md-12">
													{{  form.photo_3|as_crispy_field  }}
												</div>
												<div class="form-group col-md-12">
													{{  form.photo_4|as_crispy_field  }}
												</div>
												<div class="form-group col-md-12">
													{{  form.photo_5|as_crispy_field  }}
												</div>
												<div class="form-group col-md-6">
													{{  form.address|as_crispy_field  }}
												</div>
												<div class="form-group col-md-6">
													{{  form.city|as_crispy_field  }}
												</div>
												<div class="form-group col-md-6">
													{{  form.state|as_crispy_field  }}
												</div>
												<div class="form-group col-md-6">
													{{  form.zipcode|as_crispy_field  }}
												</div>
												<div class="form-group col-lg-12 col-md-12">
													{{  form.description|as_crispy_field  }}
												</div>
												<div class="form-group col-md-6">
													{{  form.building_Age|as_crispy_field  }}
												</div>
												<div class="form-group col-md-6">
													{{  form.garage|as_crispy_field  }}
												</div>
												<div class="form-group col-md-6">
													{{  form.sqft|as_crispy_field  }}
												</div>
												<div class="form-group col-md-6">
													{{  form.Rooms|as_crispy_field  }}
												</div>
                                                 <!-- Contact Information -->
												<div class="form-group col-lg-12">
													<h3>Contact Information</h3>
												</div>
												<div class="form-group col-md-6">
													{{  form.contact_name|as_crispy_field  }}
												</div>
												
												<div class="form-group col-md-6">
													{{  form.contact_email|as_crispy_field  }}
												</div>
												
												<div class="form-group col-md-6">
													{{  form.contact_phone|as_crispy_field  }}
												</div>
												
												<div class="form-group col-lg-12 col-md-12">
													<button class="btn btn-theme-light-2 rounded" type="submit">Submit & Preview</button>
												</div>
											</div>
										</form>
									</div>
								</div>
								
								
											
							</div>
						</div>
						
					</div>
				</div>
						
			</section>
			<!-- ============================ Submit Property End ================================== -->
			
			<!-- ============================ Call To Action ================================== -->
			<section class="theme-bg call-to-act-wrap">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							
							<div class="call-to-act">
								<div class="call-to-act-head">
									<h3>Want to Become a Real Estate Agent?</h3>
									<span>We'll help you to grow your career and growth.</span>
								</div>
								<a href="#" class="btn btn-call-to-act">SignUp Today</a>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->
	
{%  endblock body %}			
			
		