{%  extends 'include/base.html' %} 
{%  load static %}			
{%  block body %}
			

			<!-- ============================ Hero Banner  Start================================== -->
			<div class="featured_slick_gallery gray">
				<div class="featured_slick_gallery-slide">
					<div class="featured_slick_padd">
						<a href="{{ single.image.url  }}" class="mfp-gallery">
							<img src="{{ single.image.url  }}" class="img-fluid mx-auto" alt="" />
						</a>
					</div>
					<div class="featured_slick_padd">
						<a href="{{ single.photo_1.url  }}" class="mfp-gallery">
							<img src="{{ single.photo_1.url  }}" class="img-fluid mx-auto" alt="" />
						</a>
					</div>
					<div class="featured_slick_padd">
						<a href="{{ single.photo_2.url  }}" class="mfp-gallery">
							<img src="{{ single.photo_2.url  }}" class="img-fluid mx-auto" alt="" />
						</a>
					</div>
					<div class="featured_slick_padd">
						<a href="{{ single.photo_3.url  }}" class="mfp-gallery">
							<img src="{{ single.photo_3.url  }}" class="img-fluid mx-auto" alt="" />
						</a>
					</div>
				</div>
				<a href="JavaScript:Void(0);" class="btn-view-pic top">View photos</a>
			</div>
			<!-- ============================ Hero Banner End ================================== -->
			
			<!-- ============================ Property Header Info Start================================== -->
			<section class="gray-simple rtl p-0">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-11 col-md-12">
					
							<div class="property_block_wrap style-3">
							
								<div class="pbw-flex-1">
									<div class="pbw-flex-thumb">
										<img src="{{ single.image.url  }}" width="400" class="img-fluid" alt="" />
									</div>
								</div>
								
								<div class="pbw-flex">
									<div class="prt-detail-title-desc">
										<span class="prt-types sale">{{  single.status }}</span>
										<h3>{{  single.title  }} 
											{% if single.listing_user.agent.is_approve %}
											<span class="material-icons-sharp" style="color:blue;">verified</span>
											{% else %}
											<h4></h4>               
										{% endif %}
										</h3>
										<span><i class="lni-map-marker"></i> {{  single.address }}</span>
										<h3 class="prt-price-fix">&#8358;{{ single.price }}<sub>/month</sub></h3>
										<div class="list-fx-features">
											<div class="listing-card-info-icon">
												<div class="inc-fleat-icon">
													<img src="/static/assets/img/bed.svg" width="13" alt="">
												</div>{{ single.bedrooms }} Beds
											</div>
											<div class="listing-card-info-icon">
												<div class="inc-fleat-icon">
													<img src="/static/assets/img/bathtub.svg" width="13" alt="">
												</div>{{ single.bathrooms }} Bath
											</div>
											<div class="listing-card-info-icon">
												<div class="inc-fleat-icon">
													<img src="/static/assets/img/move.svg" width="13" alt="">
												</div>{{ single.sqft }} sqft
											</div>
										</div>
									</div>
								</div>
								
							</div>
							
						</div>	
					</div>
				</div>
			</section>
			<!-- ============================ Property Header Info Start================================== -->
			
			
			<!-- ============================ Property Detail Start ================================== -->
			<section class="gray-simple min">
				<div class="container">
					<div class="row">
						
						<!-- property main detail -->
						<div class="col-lg-8 col-md-12 col-sm-12">
							
							<!-- Single Block Wrap -->
							<div class="property_block_wrap style-2">
								
								<div class="property_block_wrap_header">
									<a data-bs-toggle="collapse" data-parent="#features" data-bs-target="#clOne" aria-controls="clOne" href="javascript:void(0);" aria-expanded="false"><h4 class="property_block_title">Detail & Features</h4></a>
								</div>
								<div id="clOne" class="panel-collapse collapse show" aria-labelledby="clOne">
									<div class="block-body">
										<ul class="deatil_features">
											<li><strong>Bedrooms:</strong>{{ single.bedrooms }} Beds</li>
											<li><strong>Bathrooms:</strong>{{ single.bathrooms }} Bath</li>
											<li><strong>Areas:</strong>{{ single.area }} sq ft</li>
											<li><strong>Garage</strong>{{ single.garage }}</li>
											<li><strong>Property Type:</strong>{{ single.property_type }}</li>
											<li><strong>Year:</strong>{{  single.building_Age }}</li>
											<li><strong>Status:</strong>{{  single.status }}</li>
											<!-- <li><strong>Swimming Pool:</strong>Yes</li>
											<li><strong>Elevetor:</strong>Yes</li>
											<li><strong>Fireplace:</strong>Yes</li>
											<li><strong>Free WiFi:</strong>No</li> -->
											
										</ul>
									</div>
								</div>
								
							</div>
							
							<!-- Single Block Wrap -->
							<div class="property_block_wrap style-2">
								
								<div class="property_block_wrap_header">
									<a data-bs-toggle="collapse" data-parent="#dsrp" data-bs-target="#clTwo" aria-controls="clTwo" href="javascript:void(0);" aria-expanded="true"><h4 class="property_block_title">Description</h4></a>
								</div>
								<div id="clTwo" class="panel-collapse collapse show">
									<div class="block-body">
										{{ single.description }}
									</div>
								</div>
							</div>
							
							<!-- Single Block Wrap -->
							<div class="property_block_wrap style-2">
								
								<div class="property_block_wrap_header">
									<a data-bs-toggle="collapse" data-parent="#loca"  data-bs-target="#clSix" 
									aria-controls="clSix" href="javascript:void(0);" aria-expanded="true" class="collapsed">
									<h4 class="property_block_title">{{  single.address }}</h4></a>
								</div>

								
								<div id="clSix" class="panel-collapse collapse">
									<div class="block-body">
										<div class="map-container">
											<div id="singleMap" data-latitude="40.7427837" 
											data-longitude="-73.11445617675781" data-mapTitle="Our Location">
										 
										</div>
										</div>

									</div>
								</div>
								
							</div>
							
							<!-- Single Reviews Block -->
							<div class="property_block_wrap style-2">
								
								<div class="property_block_wrap_header">
									<a data-bs-toggle="collapse" data-parent="#rev"  data-bs-target="#clEight" a
									ria-controls="clEight" href="javascript:void(0);" aria-expanded="true">
									<h4 class="property_block_title">{{ reviews.count }} Reviews</h4></a>
								</div>
								
								<div id="clEight" class="panel-collapse collapse show">
									<div class="block-body">
										<div class="author-review">
											<div class="comment-list">
												<ul>
													<li class="article_comments_wrap">
														<article>
															{%  if user.is_authenticated %}
															<div class="article_comments_thumb">
																<img src="{{  user.photo.url }}" alt="">
															</div>
															{% else %}
															{% endif %}
															{%  if not single.reviews.all %}
															    <p>No Reviews Yet...</p>
														        {% else %}	
																{% for view in single.reviews.all %}	
															<div class="comment-details">
																<div class="comment-meta">
																	<div class="comment-left-meta">
																		<h4 class="author-name">{{ view.name  }}</h4>
																		<div class="comment-date">{{  view.created_date }}</div>
																	</div>
																</div>
																<div class="comment-text">
																	<p>
																		{{  view.message  }}
																	</p>
																</div>
															</div>
															{% endfor %}
															{% endif %}
														</article>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								
							</div>
							

							
							<!-- Single Write a Review -->
							<div class="property_block_wrap style-2">
								
								<div class="property_block_wrap_header">
									<a data-bs-toggle="collapse" data-parent="#comment" 
									 data-bs-target="#clTen" aria-controls="clTen" href="javascript:void(0);" 
									 aria-expanded="true"><h4 class="property_block_title">Write a Review</h4></a>
								</div>
								
								<div id="clTen" class="panel-collapse collapse show">
									<div class="block-body">
										{{ comment_form.errors }}
										<form class="simple-form" method="post">
											{%  csrf_token %}
											<div class="row">
												<div class="col-lg-12 col-md-12 col-sm-12">
													<div class="form-group">
														{{ comment_form.as_p }}
													</div>
												</div>
												<div class="col-lg-12 col-md-12 col-sm-12">
													<div class="form-group">
														<button class="btn btn-theme-light-2 rounded" type="submit">Submit Review</button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
								
							</div>
							
						</div>
						
						<!-- property Sidebar -->
						<div class="col-lg-4 col-md-12 col-sm-12">
							
							<!-- Like And Share -->
							<div class="like_share_wrap b-0">
								<ul class="like_share_list">
									<li>
										<a href="JavaScript:Void(0);" class="btn btn-likes" data-toggle="tooltip" data-original-title="Share">
											<i class="fas fa-share"></i>Share</a>
										</li>
									<li>
										<a href="{%  url 'index:add_book_list' single.id  %}" class="btn btn-likes" data-toggle="tooltip" data-original-title="Save">
											<i class="fas fa-heart"></i>
											Save
										</a>
									</li>
								</ul>
							</div>
							
							<div class="details-sidebar">
							
								<!-- Agent Detail -->
								<div class="sides-widget">
									<div class="sides-widget-header">
										<div class="agent-photo"><img src="{{ single.photo.url }}" alt=""></div>
										{% if single.listing_user.agent.is_approve %}
											<span class="material-icons-sharp" style="color:blue;">verified</span>
											{% else %}
											<h4></h4>               
										{% endif %}
										<div class="sides-widget-details">
											<h4><a href="#">{{  user.fullname }}</a></h4>
											<span><i class="lni-phone-handset"></i>{{  single.contact_phone }}</span>
										</div>
										<div class="clearfix"></div>
									</div>
									
									<div class="sides-widget-body simple-form">
										<div class="form-group">
											<label>Name</label>
											<input type="text" class="form-control" disabled placeholder="{{  single.contact_name }}">
										</div>
										<div class="form-group">
											<label>Email</label>
											<input type="text" class="form-control" disabled placeholder="{{  single.contact_email }}">
										</div>
										<div class="form-group">
											<label>Phone No.</label>
											<input type="text" class="form-control" disabled placeholder="{{  single.contact_phone }}">
										</div>
									</div>
								</div>
								
								
								
								<!-- Featured Property -->
								<div class="sidebar-widgets">
									
									<h4>Featured Property</h4>
									
									<div class="sidebar_featured_property">
										{%  for i in feature %}
										<!-- List Sibar Property -->
										<div class="sides_list_property">
											<div class="sides_list_property_thumb">
												<img src="{{   i.image.url  }}" class="img-fluid" alt="">
											</div>
											<div class="sides_list_property_detail">
												<h4><a href="single-property-1.html">{{ i.title }}</a></h4>
												<span><i class="ti-location-pin"></i>{{  i.location }}</span>
												<div class="lists_property_price">
													<div class="lists_property_types">
														<div class="property_types_vlix sale">{{ i.status }}</div>
													</div>
													<div class="lists_property_price_value">
														<h4>{{ i.price }}</h4>
													</div>
												</div>
											</div>
										</div>
										{% endfor  %}
									</div>
									
								</div>
							
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- ============================ Property Detail End ================================== -->



{%  endblock  %}