{%  extends 'include/base.html' %}
{%  load static %}			
{%  block body %}
		
		<!-- ============================ Page Title Start================================== -->
			<div class="page-title">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							
							<h2 class="ipt-title">Welcome!</h2>
							<span class="ipn-subtitle">Welcome To Your Account</span>
							
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ User Dashboard ================================== -->
			<section class="bg-light">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="filter_search_opt">
								<a href="javascript:void(0);" onclick="openFilterSearch()">Dashboard Navigation<i class="ml-2 ti-menu"></i></a>
							</div>
						</div>
					</div>
								
					<div class="row">
						
						<div class="col-lg-3 col-md-12">
							{%  include 'account/sidernav.html' %}
						</div>
						
						<div class="col-lg-9 col-md-12">
							<div class="dashboard-wraper">
							
								<!-- Bookmark Property -->
								<div class="form-submit">	
									<h4>Bookmark Property</h4>
								</div>
								
								<table class="property-table-wrap responsive-table bkmark">

									<tbody>
										<tr>
											<th><i class="fa fa-file-text"></i> Property</th>
											<th></th>
										</tr>

										<!-- Item #1 -->
										{%  for i in list %}
										<tr>
											<td class="property-container">
												<img src="{{ i.property.image.url }}" alt="">
												<div class="title">
													<h4><a href="#">{{  i.property.title }}</a></h4>
													<span>6 Bishop Ave. Perkasie, PA </span>
													<span class="table-property-price">${{ i.property.price }} / monthly</span>
												</div>
											</td>
											<td class="action">
												<a href="{%  url 'index:deletebooklist' i.id %}" class="delete"><i class="ti-close"></i> Delete</a>
											</td>
										</tr>
										{%  endfor %}
									</tbody>
								</table>
								
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- ============================ User Dashboard End ================================== -->
			
			<!-- ============================ Call To Action ================================== -->
			<section class="theme-bg call-to-act-wrap">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							
							<div class="call-to-act">
								<div class="call-to-act-head">
									<h3>Want to Become a Real Estate Agent?</h3>
									<span>We'll help you to grow your career and growth.</span>
								</div>
								<a href="#" class="btn btn-call-to-act">SignUp Today</a>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->
			
{%  endblock  %}