{% extends 'include/base.html' %} {% load static %} {% block body %}
<!-- ============================================================== -->

<!-- ============================ Page Title Start================================== -->
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <h2 class="ipt-title">Welcome! {{ user.fullname }}</h2>
                <span class="ipn-subtitle">Welcome To Your Account</span>

            </div>
        </div>
    </div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ User Dashboard ================================== -->
<section class="bg-light">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="filter_search_opt">
                    <a href="javascript:void(0);" onclick="openFilterSearch()">Dashboard Navigation<i class="ml-2 ti-menu"></i></a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-12">
                {% include 'account/sidernav.html' %}
            </div>

            <div class="col-lg-9 col-md-12">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        {% if user.agent.is_approve %}
                            <h4>Account: <span class="pc-title theme-cl">Verified</span></h4>
                            {% else %}
                            <h4>Not an Agent: <span class="pc-title theme-cl"><a href="{% url 'index:add_agent' user.id %}">verified Account </a></span></h4>               
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="dashboard-stat widget-2">
                            <div class="dashboard-stat-content">
                                <h4>{{  user.listing_user.count }}</h4> <span>Listings Remaining</span></div>
                            <div class="dashboard-stat-icon"><i class="ti-pie-chart"></i></div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="dashboard-stat widget-4">
                            <div class="dashboard-stat-content">
                                <h4>{{  user.feature_count.count }}</h4> <span>Featured Remaining</span></div>
                            <div class="dashboard-stat-icon"><i class="ti-location-pin"></i></div>
                        </div>
                    </div>

                   

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="dashboard-stat widget-6">
                            <div class="dashboard-stat-content">
                                <h4 style="font-size:20px;">{{ user.created }}</h4> <span>Ends On</span></div>
                            <div class="dashboard-stat-icon"><i class="ti-user"></i></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- ============================ User Dashboard End ================================== -->
{% endblock body %}