{%  extends 'include/base.html' %}
{%  load static %}			
{%  block body %}

			<!-- ============================ Page Title Start================================== -->
			<div class="page-title">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							
							<h2 class="ipt-title">Welcome!</h2>
							<span class="ipn-subtitle">Welcome To Your Account</span>
							
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ User Dashboard ================================== -->
			<section class="bg-light">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="filter_search_opt">
								<a href="javascript:void(0);" onclick="openFilterSearch()">Dashboard Navigation<i class="ml-2 ti-menu"></i></a>
							</div>
						</div>
					</div>
								
					<div class="row">
						
						<div class="col-lg-3 col-md-12">
								{%  include 'account/sidernav.html' %}
						</div>
						
						<div class="col-lg-9 col-md-12">
							<div class="dashboard-wraper">
							
								<!-- Bookmark Property -->
								<div class="form-submit">	
									<h4>My Property</h4>
								</div>
								
								<div class="row">
									<!-- Single Property -->
									{%  if user.id == i.user.id %}
									{% for i in list %}
									<div class="col-md-12 col-sm-12 col-md-12">
										<div class="singles-dashboard-list">
											<div class="sd-list-left">
												<img src="{{  i.image.url }}" class="img-fluid" alt="" />
											</div>
											<div class="sd-list-right">
												<h4 class="listing_dashboard_title">
													<a href="#" class="theme-cl">{{  i.title  }}</a></h4>
												<div class="user_dashboard_listed">
													Price: from {{ i.price }} 
												</div>
												<div class="user_dashboard_listed">
													Listed in <a href="javascript:void(0);" class="theme-cl">{{  i.status }}</a> and <a href="javascript:void(0);" class="theme-cl">{{ i.property_type }}</a>
												</div>
												<div class="user_dashboard_listed">
													City: <a href="javascript:void(0);" class="theme-cl">{{ i.city }}</a> , Area:{{ i.area }}
												</div>
												<div class="action">
													<a href="{% url 'index:edit' i.pk %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="ti-pencil"></i></a>
													<a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="202 User View"><i class="ti-eye"></i></a>
													<a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Property" class="delete"><i class="ti-close"></i></a>
													<a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Make Featured" class="delete"><i class="ti-star"></i></a>
												</div>
											</div>
										</div>
									</div>
									{%  endfor %}
									{%  endif %}
								</div>
								
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- ============================ User Dashboard End ================================== -->
			
			
	{% endblock %}