<div class="simple-sidebar sm-sidebar" id="filter_search">
								
    <div class="search-sidebar_header">
        <h4 class="ssh_heading">Close Filter</h4>
        <button onclick="closeFilterSearch()" class="w3-bar-item w3-button w3-large">
            <i class="ti-close"></i></button>
    </div>
    
    <div class="sidebar-widgets">
        <div class="dashboard-navbar">
            
            <div class="d-user-avater" style="position: relative;">
                <img src="{{ user.photo.url }}" class="img-fluid avater" alt="">
                {% if user.agent.is_approve %}
                 <span class="material-icons-sharp" style="position: absolute;top:5%;right:20%;color: blue;">verified</span>
                 {% else %}
                  <span></span>                
                 {% endif %}
                 <h4>{{  user.fullname }}</h4>
                <span>{{ user.city }}</span>
            </div>
            
            <div class="d-navigation">
                <ul>
                    <li class="active"><a href="{% url 'index:dashborad' %}"><i class="ti-dashboard"></i>Dashboard</a></li>
                    <li><a href="{%  url 'index:myprofile'  %}"><i class="ti-user"></i>My Profile</a></li>
                    <li><a href="{%  url 'index:booklist' %}"><i class="ti-bookmark"></i>Bookmarked Listings</a></li>
                    <li><a href="{%  url 'index:my_property' %}"><i class="ti-layers"></i>My Properties</a></li>
                    <li><a href="{%  url 'index:change_password' %}"><i class="ti-unlock"></i>Change Password</a></li>
                    <li><a href="{%  url 'index:logout' %}"><i class="ti-power-off"></i>Log Out</a></li>
                </ul>
            </div>
            
        </div>
    </div>
    
</div>

<script>
    function openFilterSearch() {
        document.getElementById("filter_search").style.display = "block";
    }
    function closeFilterSearch() {
        document.getElementById("filter_search").style.display = "none";
    }
</script>

